.ErrorPopUp {
    position: absolute;
    top: 2.7rem;
    right: 0;
    opacity: 0;
    transform: translateX(50%);
    transition: transform  1.2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease;
    z-index: var(--msgPopup-z-index);
}

.ErrorPopUp__Move {
    transform: translateX(0);
    opacity: 1;
}

.ErrorPopUp__Content {
    height: auto;
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;

    
}


.ErrorPopUp__Content svg{
    height: 1.2rem; 
    width: 1.2rem;
}

.ErrorPopUp__INFO{
    fill: green;
}
.ErrorPopUp__WARNING{
    fill: white;
}
.ErrorPopUp__ERROR{
    fill: red;
}

.ErrorPopUp__Content span {
    margin-left: 0.2rem;
}




