.ErrorPopUp {
    position: absolute;
    top: 6rem;
    right: 2rem;
    opacity: 0;
    transform: translateX(50%);
    transition: transform  1.2s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease;

}

.ErrorPopUp__Move {
    transform: translateX(0);
    opacity: 1;
}

.ErrorPopUp__Content {
    height: auto;
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;

    
}

.ErrorPopUp__Content span {
    display: inline-block;
    margin-left: 0.5rem;
}

.ErrorPopUp__Content::before {
    content: 'ℹ️'; 
    margin-right: 0.2rem; 
    font-size: 1.2rem; 
}


