.FFCreationWindow {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.FFCreationWindow__Main {
    width: 30rem;
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    backdrop-filter: blur(8px); /* Apply blur effect to the element itself */
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 20;
    box-sizing: border-box;
}

.FFCreationWindow__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.FFCreationWindow__Header span {
    font-size: 1.2rem;
    font-weight: bold;
}

.FFCreationWindow__Path {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.FFCreationWindow__Content {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between select and input */
}

.FFCreationWindow__Content select,
.FFCreationWindow__Content input {
    flex: 0.8; /* Adjust as needed */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.FFCreationWindow__Content select:focus,
.FFCreationWindow__Content input:focus {
    border-color: #007bff; /* Border color on focus */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3); /* Subtle shadow on focus */
    outline: none; /* Remove default focus outline */
}

.FFCreationWindow__Content select:hover,
.FFCreationWindow__Content input:hover {
    border-color: #0056b3; /* Border color on hover */
}

.FFCreationWindow__Button {
    margin-top: 1rem;
    text-align: center;
}

.FFCreationWindow__Button__Submit {
    padding: 0.7rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.FFCreationWindow__Button__Submit:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
