/* #region outer layers */
.nav-bar {
    /* width: 23%; */
    display: flex;
    /* flex-grow: 1; */
    width: 25%;
    min-width: 25%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: var(--regular-z-index);
    backdrop-filter: blur(15px);
    font-size: 1rem;
    font-family: var(--font-family--1);
}

.nav-bar__categories {
    width: 95%;
}

/* .nav-bar__name {
    font-size: 1rem;
    font-weight: 900;
    color: #343a40;

} */

.nav-bar__addCate__button {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar__addCate_inner {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    padding: 0.5rem 1rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav-bar__addCate_inner:hover {
    background-color: #f1f1f1;
    border-color: #bbb;
}

/* .nav-bar input {
    cursor: default;
    vertical-align: middle;
    margin-left: 0.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.2rem;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 1rem;
    width: 66%;
} */

.nav-bar span {
    cursor: default;
    vertical-align: middle;
    margin-left: 0.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.2rem
}

.nav-bar img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


/* #endregion */


/* #region inner layers */

.nav-bar__first-category>li:nth-child(1) {
    margin-top: 1rem;
}

.nav-bar__first-category-items {
    /* padding-left: 1.0rem; */
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.nav-bar__first-category-items:last-child {
    border-bottom: none;
}

.nav-bar__second-category,
.nav-bar__third-category,
.nav-bar__fourth-category {
    padding-left: 1rem;
    margin-top: 0.3rem;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}


.expanded {
    grid-template-rows: 1fr;
    /* height: auto; */
}

.nav-bar__has-child {
    max-height: 0;
}

/* #endregion */


/* #region Arrow icon Category AddFolder AddFile */


.nav-bar__category_div {

    display: flex;
    justify-content: space-between;
    margin-left: 0.3rem;
    /* margin-bottom: 0.3rem; */
    border-radius: 0.7rem;
    padding-left: 0.5rem;
    /* Added padding for better spacing */
    background-color: #e9edf2;
    /* Light background color for better contrast */
    height: 2rem;

}

.nav-bar__category_name {
    display: flex;
    align-items: center;
    overflow: hidden;

    /* width: auto; */
    flex-grow: 1;
    /* width: auto; */
    /* margin-right: 2rem; */
}

.nav-bar__category_name svg:nth-of-type(1) {
    height: 1.2rem;
    rotate: 90deg;
    transition: transform 0.2s linear;
    fill: #2196F3;
    flex-shrink: 0;
}


.nav-bar__category_div:hover .nav-bar__category_img {
    visibility: visible;
}


/* #endregion */


/* #region transition */
li>div {
    transition: 0.3s;
}


li>div:hover {
    background-color: #f0f0f0;
    transform: scale(1.01);
}

.hideFileArrow {
    visibility: hidden;
}

.imgRotate {
    transform: rotate(90deg);
}

/* #endregion */


.nav-bar__category_article .nav-bar__second-category-items {
    margin-bottom: 0.3rem;
}

.Nav-bar__article-icon {
    height: 1.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    fill: #FF9800;
    flex-shrink: 0;
}

.nav-bar__folder-icon {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    height: 1.2rem;
    fill: #4CAF50;
    flex-shrink: 0;
}

/* folder operations elements */
/* outer div */
.nav-bar__category_img {
    visibility: hidden;
    display: flex;
    align-items: center;
}

.nav-bar__category_img svg {
    height: 1rem;
    width: 1rem;
    transition: all 0.1s linear;

}

.nav-bar__category_img svg:hover {
    /* background-color: #e0e0e0; Light grey background color on hover */
    border-radius: 4px;
    /* Optional: Rounded corners for a smoother look */
    padding: 0.1rem;
    /* Optional: Padding for better spacing */
}

.nav-bar__rename-folder {
    margin-right: 0.5rem;
    fill: #2196F3;
}

/* #region create a subfolder*/
.nav-bar__add-folder {
    margin-right: 0.5rem;
    fill: #2196F3;
    /* Blue color for folder icon */
}

.nav-bar__hide-createFolder {
    display: none;
}

/* #endregion */

/* #region create a sub-file*/
.nav-bar__add-file {
    margin-right: 0.5rem;
    fill: #FFC107;
    /* Yellow color for file icon */
}

.nav-bar__delete-file {
    margin-right: 0.5rem;
    fill: #ff4107;
    /* Yellow color for file icon */
}

/* #endregion create a sub-file*/