/* folder operations elements */
/* outer div */
.nav-bar__category_img {
    visibility: hidden;
    display: flex;
    align-items: center;
}

/* #region create a subfolder*/
.nav-bar__add-folder {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
    fill: #2196F3; /* Blue color for folder icon */
    transition: all 0.1s linear;
}

.nav-bar__add-folder:hover {
    /* background-color: #e0e0e0; Light grey background color on hover */
    border-radius: 4px; /* Optional: Rounded corners for a smoother look */
    padding: 0.1rem; /* Optional: Padding for better spacing */
}
/* #endregion */

/* #region create a sub-file*/
.nav-bar__add-file {
    height: 1rem;
    width: 1rem;
    fill: #FFC107; /* Yellow color for file icon */
    transition: all 0.1s linear;
}

.nav-bar__add-file:hover {
    /* background-color: #e0e0e0; Light grey background color on hover */
    border-radius: 4px; /* Optional: Rounded corners for a smoother look */
    padding: 0.1rem; /* Optional: Padding for better spacing */
}
/* #endregion create a sub-file*/
