/* folder operations elements */
/* outer div */
.nav-bar__category_img {
    visibility: hidden;
    display: flex;
    align-items: center;
}

.nav-bar__category_img svg {
    height: 1rem;
    width: 1rem;
    transition: all 0.1s linear;

}

.nav-bar__category_img svg:hover {
    /* background-color: #e0e0e0; Light grey background color on hover */
    border-radius: 4px; /* Optional: Rounded corners for a smoother look */
    padding: 0.1rem; /* Optional: Padding for better spacing */
}
.nav-bar__rename-folder {
    margin-right: 0.5rem;
    fill: #2196F3;
}

/* #region create a subfolder*/
.nav-bar__add-folder {
    margin-right: 0.5rem;
    fill: #2196F3; /* Blue color for folder icon */
}

.nav-bar__hide-createFolder{
    display: none;
}
/* #endregion */

/* #region create a sub-file*/
.nav-bar__add-file {
    margin-right: 0.5rem;
    fill: #FFC107; /* Yellow color for file icon */
}

.nav-bar__delete-file {
    margin-right: 0.5rem;
    fill: #ff4107; /* Yellow color for file icon */
}
/* #endregion create a sub-file*/
