/* Reset some basic styles */

.main-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    margin-top: 1rem;
    padding: 15px 20px 0 20px;
    /* background-color: #FFF; */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    z-index: var(--regular-z-index);
    /* backdrop-filter: blur(15px); */
    backdrop-filter: blur(15px);
    flex-basis: 50%;

}

.main-content__info {
    display: flex;
    flex-direction: column;
}

.main-content__title {
    display: flex; 
}

.main-content__title input {
    width: 100%;
    border: 1px transparent ; 
    border-radius: 5px; 
    font-size: 2rem;
    font-weight: bold;
    transition: border-color 0.3s, box-shadow 0.3s; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--background-color);
}

.main-content__title input:hover,
.main-content__title input:focus {
    outline: none;
    border-color: #bcbcbc; 
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


.main-content__otherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
}

.main-content__path {
    font-style: italic;
    color: #888;
}

.main-content__stats {
    display: flex;
    gap: 10px;
}

.main-content__stats svg{
    width: 20px;
    height: 20px;
    cursor: default;
}

.main-content__author,
.main-content__view,
.main-content__upvote {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    color: #444;
    transition: color 0.2s ease;
    cursor: default;
    flex: 1 0 30px;
}

.main-content__author:hover,
.main-content__view:hover,
.main-content__upvote:hover {
    color: #222;
}


.main-content__textContent {
    min-height: 200px;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
}

.main-content__footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.7rem;
    color: #666;
    background-color: var(--background-color);

}

.main-content__footer-left,
.main-content__footer-right {
    display: flex;
    /* align-items: center; */
    gap: 16px;
}
.main-content__status {
    flex-basis: 7%;
    font-weight: bold;
    opacity: 0;
    transition: all 0.7s ease-in;
}

.main-content__status--saving {
    opacity: 1;
    color: #FFA500; 
}

.main-content__status--saved {
    opacity: 1;
    color: #4CAF50;
}

.dots {
    min-width: 1em;
    text-align: left;
}

.main-content__wordCount,
.main-content__cursorPosition,
.main-content__createdAt,
.main-content__updatedAt {
    color: #666;
}

.main-content__footer-right span {
    white-space: nowrap; 
}
