/* TiptapTextArea.css */

:root {
    --white: #FFF;
    --black: #2E2B29;
    --black-contrast: #110F0E;
    --gray-1: rgba(61, 37, 20, 0.05);
    --gray-2: rgba(61, 37, 20, 0.08);
    --gray-3: rgba(61, 37, 20, 0.12);
    --gray-4: rgba(53, 38, 28, 0.30);
    --gray-5: rgba(28, 25, 23, 0.60);
    --green: #22C55E;
    --purple: #6A00F5;
    --purple-contrast: #5800CC;
    --purple-light: rgba(88, 5, 255, 0.05);
    --yellow-contrast: #FACC15;
    --yellow: rgba(250, 204, 21, 0.4);
    --yellow-light: #FFFAE5;
    --red: #FF5C33;
    --red-light: #FFEBE5;
    --shadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, 0.04);
}
.toolbarOuter {
    position: sticky;
    top: 1rem;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--background-color);
}

.toolbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    background-color: var(--gray-1);
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.font-size-dropdown {
    position: absolute;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    z-index: 2;
    line-height: 1rem;
    background-color: var(--background-color);
}

.font-size-dropdown div {
    padding: 4px 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 4px;
    color: var(--black);
}

.font-size-dropdown div:hover {
    background-color: var(--purple-light);
    color: var(--purple);
}

.toolbar button {
    padding: 6px;
    border: none;
    border-radius: 50%;
    background-color: var(--gray-2);
    color: var(--black);
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar button:hover {
    background-color: var(--gray-3);
}

.toolbar button:active {
    background-color: var(--gray-4);
}

.ProseMirror.disable-selection ::selection {
    -webkit-user-drag: none;
    background-color: transparent; 
    color: inherit; 
}

/* Additional styles for the editor content */
.tiptap {
    outline: none;
    min-height: 63vh;
    line-height: 1.1rem;
    padding: 0.1rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    color: #333;
    /* font-family: Arial, sans-serif; */
    font-family: var(--font-family--1);
    z-index: 1;
}

.drag-handle {
    align-items: center;
    background: #f0f0f0;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: grab;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.tiptap {
    tab-size: 4;
    &:first-child {
        margin-top: 0;
    }

    p {
        margin: 0.5rem 0;
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;

        &.ProseMirror-selectednode {
            outline: 1px solid #4682b4;
        }
    }

    pre {
        background: #2E2B29;
        border-radius: 0.5rem;
        color: #FFF;
        font-family: 'FiraCode', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            font-family: 'FiraCode', monospace;
            padding: 0;
        }

        /* Code styling */
        .hljs-comment,
        .hljs-quote {
            color: #616161;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #f98181;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #fbbc88;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #b9f18d;
        }

        .hljs-title,
        .hljs-section {
            color: #faf594;
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: #70cff8;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1rem 0;
        font-weight: bold;
        color: #2E2B29;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    a {
        color: var(--purple);
        cursor: pointer;

        &:hover {
            color: var(--purple-contrast);
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    blockquote {
        border-left: 3px solid var(--gray-3);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid var(--gray-3);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        p {
            margin: 0;
        }

        td {
            font-size: 0.7rem;
        }

        th {
            background-color: var(--gray-1);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: var(--gray-2);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--purple);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}

.bubble-menu {
    background-color: var(--white);
    border: 1px solid var(--gray-1);
    border-radius: 0.7rem;
    box-shadow: var(--shadow);
    display: flex;
    padding: 0.2rem;

    button {
        background: var(--gray-2);
        border-radius: .5rem;
        border: none;
        color: var(--black);
        font-family: inherit;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.15;
        margin: none;
        padding: .375rem .625rem;
        transition: all .2s cubic-bezier(.65, .05, .36, 1);

        &:hover {
            background-color: var(--gray-3);
        }

        &.is-active {
            background-color: var(--purple);
            color: var(--white);

            &:hover {
                background-color: var(--purple-contrast);
                color: var(--white);
            }
        }
    }
}
