* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-y: scroll;
}

.blog-container {
    position: relative;
    width: 1180px;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.body-container {
    /* border: 1px solid black; */
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
}